<!doctype html>
<html>

<head>
    <title>Example Domain</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      document.getElementById('myList').innerHTML = '';
    </script>
</head>

<body>
    {{> header}}

    {{{botListDesk}}}
    <!--<p>{{toUpperCaseHelper welcomeMessage}}</p>-->

    {{> footer}}
</body>

</html>
